body{
	background:url(../Image/New-Website-Background.jpg) no-repeat fixed center top/ 100% 100%;	
}
.container{
	text-align:center;
	width:1000px;
	margin:0 auto;
}
/*---header-----*/
header{
	/*background-color:#999;*/
	height:100px;
	margin-top:60px;
}

.head1,.head2{
	text-align:center;

}
.head1{
	float:left;	
}

.logo{
	height:100px;
}

#srchTxt{
	width:400px;
	height:40px;
	font-size:20px;
	border-radius:8px;
	font-size:20px;
	padding-left:10px;
}

/*----Menu----*/
.navigation{
	top:0;
	width:1000px;
	background-color:#0F6D8C;
	position: fixed;
}

.nav{
	list-style-type:none;

}
.navMenu a{
	float:left;
	text-decoration:none;
	margin:0px 5px 5px 0px;
	border-radius:0 10px;
	width:120px;
	padding:10px;
	text-align:center;
	background-color:#C03;
	color:#fff;
}

.navMenu a:hover,.navMenu a.active{
	background-color:#F90;
	color:#000;
}
/*----dropdown---*/
.dropdown-list{
	display: none;
}
/*---Animation---*/
.Animation{
	height:50px;
	padding-top:10px;
	color:#ff0000;
}
/*--------SECTION DIV----------*/

.mainDiv{
	clear: both;
	width:1000px;
	height:1000px;
	margin:0 auto;

}
.common{
	font-size:18px;
	padding:10px;
	margin:5px;
	background-color:#E1E2E3;
	font-weight: 400;
}
.top{
	height:340px;
	width:470px;
	float:left;
}


.centerDiv{
	width:970px;
	height:290px;
	clear:both;
}

div .posters{
	margin: 5px;
    float: left;
	opacity:0.5;
}
div .posters:hover {
	opacity:1.0;
}
.poster{
	width:146px;
	height:255px;
	margin-right:5px;
}
.sHead{
	margin:2px 0px 3px 4px;	
	font-family: 'Oswald', sans-serif;
}
/*---Paragragh---*/
.info{
	font-size:16px;
	text-indent:50px;
	line-height:20px;
	word-spacing:4px;
	font-weight:300;
}
#name{
	color:#FFF;
	font-size:24px;
}
/*-------form---*/
.frmUser{
	margin:10px;
	
}
.frmUser h2{
	margin:0;
	background-color:#000;
	color:#FFF;	
	text-align:center;
	padding:10px;
	border-radius:10px 10px 0px 0px;
	
}
.ftxt{
	width:220px;
	height:40px;
	font-size:14px;
	border: 1px solid #fff;
	padding-left:10px; 
}
.ftxt:hover{
	border:1px solid #09C;
	background-color:#FC9;	
}

#bt1{
	background-image: url(../Image/face.png);
}
#bt2{
	background-image: url(../Image/gm.png);
}
.btn{
	text-align:center;
	font-size:18px;
	padding:8px;
	background-color:#C36;
	border:1px solid #C36;
	border-radius:8px;
	width:220px;
	
}
.btn:hover{
	background-color:#F30;
}
div .field{
	margin:3px 3px 0px 0px;
	
}

.vertical{
	width:1px;
	height:120px;
	
}
/*----bottom left div---*/
.movieList li{
	list-style-image:url(../Image/list_style.png);
}

.movieList a{
	text-decoration:none;
}

.movieList a.visited{
	color:#00ff00;
}

.movieList a:visited{
	color:#F00;
}
video{
	width:430px;
	height:300px;
	margin-left:20px;
	margin:0 auto;
}

/*-----footer----*/
footer{
	text-align:center;
	clear:both;
	padding:10px;
	background-color:#000;
	color:#fff;
	font-size:16px;
}

